/* line 4, app/assets/stylesheets/posts.scss */
.comment-container {
  -webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.75);
  margin: 1em;
  padding-bottom: 1em;
}

/* line 12, app/assets/stylesheets/posts.scss */
.inner-comment-container {
  margin: 1em;
  padding-bottom: 1em;
}

/* line 17, app/assets/stylesheets/posts.scss */
.comment-avatar {
  border-radius: 50%;
  margin: 0.5em;
  max-width: 100%;
  max-height: 100%;
  clip-path: circle(4em at center);
}

/* line 25, app/assets/stylesheets/posts.scss */
.comment-timestamp {
  font-size: 10;
  color: #646464;
  text-align: center;
  width: 100%;
}

/* line 32, app/assets/stylesheets/posts.scss */
.comment-username {
  font-size: 1.5em;
  color: #191919;
  font-weight: 625;
}

/* line 38, app/assets/stylesheets/posts.scss */
.comment-number {
  font-size: 1.5em;
  color: #191919;
  font-weight: 300;
}

/* line 44, app/assets/stylesheets/posts.scss */
.comment-body {
  text-align: justify;
}

/* line 48, app/assets/stylesheets/posts.scss */
.comment-form-nested {
  margin-right: 2em;
}

/* line 52, app/assets/stylesheets/posts.scss */
.comment-login-prompt {
  margin: 1em;
  padding-bottom: 1em;
  text-align: center;
}
