<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">About Blog</h1>
    
        <div class="row">
            <p style="text-align: justify">
            This simple blog created as a control work with pvi.<br/>
            <br/>
           Created by Horsharuk Iruna,PZ-25</p>
            <hr class="my-4"/>
        </div>
        <div class="btn-group" role="group" aria-label="Basic example">
            <button type="button" onclick="window.location.href = 'https://github.com/Easterwind';" class="btn btn-secondary">GitHub</button>
        </div>
    </div>
</div>